@use '../1-Base/variables'
@use '../1-Base/medias'
@use 'resultlayout'


.container-calculator-app
    margin: 8em auto
    max-width: 80%
    min-height: 400px
    border-radius: 0.8em 
    padding: 2em
    box-shadow: 0.2em 0.2em 0.2em #4444442f
    background: variables.$white
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 3em

    
.container-calculator
    margin: 0.2em
    padding: 2em
    gap: 1.5em
    min-height: 400px
    display: flex
    justify-content: space-evenly
    flex-direction: column

.result-calculator
    padding: 2em
    gap: 1em
    min-height: 400px
    background: variables.$very-dark
    border-radius: 0.8em
    display: flex
    color: variables.$white
    justify-content: space-between
    flex-direction: column

.calculator-items
    margin-top: 2em
    display: flex
    gap: 2em
    justify-content: center
    flex-direction: column

